footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(80,15,140);
    background: linear-gradient(180deg, rgba(80,15,140,1) 0%, rgba(138,43,226,1) 72%); 
}
footer h1
{
    color: #ffb6c1;
}
footer a
{
    text-decoration: none;
    color: #f0ffff;
    margin-bottom: 1vh;
    max-width: fit-content;
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 5px;
}
footer a:hover
{
    background-color: #9448f4;
}
footer div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-bottom: 2vh;
}
footer div div.links
{
    border-bottom: 2px solid #ffb6c1;
    display: flex;
    justify-content: center;
}
footer div.mediaLinks div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer div.mediaLinks a
{
    font-size: 3rem;
}
@media (min-width: 768px)
{
    footer
    {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    footer div div.links
    {
        border-bottom: none;
    }
    footer div
    {
        width: 30%;
    }
    footer div.mediaLinks .links
    {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}