body
{
    margin: 0;
    overflow-x: hidden;
    background: rgb(80,15,140);
    background: linear-gradient(200deg, rgba(80,15,140,1) 0%, rgba(109,0,186,1) 95%, rgba(138,43,226,1) 100%); 
}
.searchContainer
{
    margin-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.searchbar
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchContainer .searchbar input
{
    width: 50%;
    padding: 10px;
    font-size: 2rem;
}
.productContainer
{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productContainer .product
{
    width: 70%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 5vh;
}
.productContainer .product img
{
    width: 100%;
    height: 30vh;
}
.product a
{
    text-decoration: none;
    border: 2px #d2ccef solid;
    border-radius: 10px;
    padding: 10px;
    color: #f0ffff;
}
.product a:hover
{
    background-color: #9448f4;
    transform: scale(1.1);
}
@media (min-width: 768px)
{
    .productContainer
    {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .productContainer .product
    {
        width: 40%;
    }
}
@media (min-width: 1024px)
{
    .productContainer
    {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .productContainer .product
    {
        width: 20%;
    }
}