body
{
    margin: 0;
    background-color:  #8a2be2;
    color: #ffb6c1;
}
a.button
{
    text-decoration: none;
    color: #f0ffff;
    padding: 10px;
    border: #ffb6c1 2px solid;
    border-radius: 5px;
}
a.button:hover
{
    background-color: #9448f4;
    transform: scale(1.1);
}
.mainContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.mainContainer h1
{
    font-size: 2.75rem;
    text-decoration: underline;
}
.profileContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10vh;
}
.profileContainer .profileInfoContainer p
{
    font-size: 1.1rem;
}
.profileContainer img
{
    width: 30%;
    height: 100%;
    border-radius: 1005678132638176238768736182px;
}
.profileInfoContainer
{
    height: fit-content;
}
.logoutContainer
{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-bottom: 2vh;
}
.myProducts
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}
.myProducts h1
{
    font-size: 2.75rem;
    text-decoration: underline;
}
.product
{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 20px;
    border: #ffb6c1 2px solid;
}
.product h2
{
    margin-top: 3vh;
    font-size: 2.5rem;
}
.product p
{
    margin-bottom: 4vh;
    text-align: center;
}
.product img
{
    width: 100%;
}
@media (min-width: 768px)
{
    .profileInfoContainer
    {
        font-size: 2rem;
    }
    .product
    {
        width: 30%;
    }
    a.button
    {
        font-size: 1.75rem;
    }

}